
body {
    font-family: 'Cormorant Upright', serif;
    /* background-image: url("mountains-294111_1280.png"); */
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    /* background-position: center; */
    background-position-y: 500%;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
}
p {
    font-size: 30px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 50px;
    font-weight: 700;
}
h4 {
    font-size: 40px;
    font-weight: 600;
}
#menu {
    padding: 10px;
    background-color: rgba(100, 158, 180, 0.8);
    /* opacity: .3; */
    margin-right: 0;
}
#menuitem {
    font-size: 50px;
    color: white;
    font-family: 'Cormorant Upright', serif;
}
#menuitem:hover {
    font-size: 47px;
    text-decoration: none;
    color: #EEF4ED;
}
#mainpage {
    padding-bottom: 20px;
    /* height: 110vh; */
    background-color: rgba(100, 158, 180, 0.2);
}
#boatpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 340px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;
}
#piccontainer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
#title {
    font-size: 100px;
}
#location {
    font-family: 'Cormorant Upright', serif;
}
#greyvt {
    height: 200px;
    width: 200px;
    padding-left: 100px;
}
#slopes {
    height: 400px;
    width: 550px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 2px #161B22;
}
#hotel {
    height: 270px;
    width: 330px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #161B22;
}
#schedule {
    /* height: 100vh; */
    background-color: #EBF5EE;
    /* width: 100%; */
    padding-bottom: 20px;
}
#scheduletext {
    padding-top: 80px;
    width: 80vw;
}
#accommodations {
    /* width: 100%; */
    background-color: #283044;
}
#accommodationstext {
    width: 80vw;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
#sugarbushlist {
    align-items: center;
    width: 20vw;
}
#downarrow {
    height: 40px;
    width: 40px;
}
#thingstodotext {
    width: 80vw;
    /* height: 100vh; */
    padding-top: 50px;
    padding-bottom: 20px;
}
#thingstodo {
    background-color: #EFD9CE;
    /* width: 100%; */
}
.hotelpiccont {
    display: flex;
    justify-content: center;
}
.registry {
    height: 100vh;
    background-color: #7D869C;
    padding-top: 20px;
    /* width: 100%; */
}
#schedheader {
    font-size: 70px;
    padding-bottom: 20px;
}
#registryimage {
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
#registryimage:hover {
    height: 190px;
    width: 280px;
    transform: skew(5deg);
}
.regimg {
    justify-content: center;
}
.regheader {
    margin-bottom: 100px;
}
#todo {
    text-decoration: none;
    color:inherit;
    transform-style: preserve-3d;
}
#todo:hover {
	background: rgb(255, 255, 255);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

#bushlink {
    margin: 100px;
}
#thingstodolist {
    margin: 50px;
}