
body {
    font-family: 'Montserrat', sans-serif;
    /* background-image: url("mountains-294111_1280.png"); */
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    /* background-position: center; */
    background-position-y: 500%;
    background-position: center;
    background-attachment: fixed;
    margin-right: 100px;
    margin-left: 100px;
}
#menu {
    padding: 10px;
    background-color: rgba(100, 158, 180, 0.993);
    /* opacity: .3; */
}
#menuitem {
    font-size: 50px;
    color: white;
}

#boatpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;
}
#piccontainer {
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
}
#title {
    font-size: 100px;
}
#greyvt {
    height: 200px;
    width: 200px;
    padding-left: 100px;
}
h2 {
    font-size: 50px;
}